<%- include("partials/header") %>
<div class="ui main text container">
	<div class="ui huge header">
		<%= blog.title %> 
	</div>
	<div class="ui top attached segment">
		<div class="item">
			<img class="ui centered rounded image" style="max-width: 50%" src="<%= blog.image %>">
			<div class="content">
				<span><%= blog.created.toDateString() %></span>
			</div>
			<div class="description">
				<p><%- blog.body %></p>
			</div>
			<div class="ui small basic icon buttons">
				<form action="/blogs/<%= blog._id %>/edit" method="GET">
					<button class="ui button"><i class="edit icon"></i></button>
				</form>
				<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
					<button class="ui button"><i class="trash icon"></i></button>
				</form>
			</div>		
		</div>
	</div>
</div>
<%- include("partials/footer") %>