<%- include("partials/header") %>
<h1>This is the islands page!</h1>
<a href="/islands/new">Add New Island</a>
<ul>
	<% islands.forEach(function(island){ %>
	<li><%= island.name %> - <%= island.owner %> - <%= island.zone %></li>
	<% }); %>
</ul>
<%- include("partials/footer") %>